.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#protocol-switch {
 
    &:hover {
        cursor: pointer;
        background-color: #007bff;
        color: white;
    }
    transition: 500ms;
}