.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table {
    .key-column {
        width: 17%;
    }
    .value-column {
        width: 30%;
    }
    .description-column {
        width: 45%;
    }
    .operation-column {
        width: 8%;
    }
}