html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/index.css")
        title Digrest API Tester
    body
        .container
            .row
                .col-md-3
                .col-md-9
                    form#digrest-form(action="")
                        .form-row
                            .form-group.col-md-10
                                label(for="textbox-url") Endpoint
                                .input-group
                                    .input-group-prepend
                                        #protocol-switch.input-group-text.btn.btn-primary
                                            | http://
                                    input#textbox-url.form-control(type="text")
                            .form-group.col-md-2
                                label(for="select-request") Method
                                select#select-request.form-control
                                    option(value="GET") GET
                                    option(value="POST") POST
                                    option(value="PUT") PUT
                                    option(value="DELETE") DELETE
                                    option(value="HEAD") HEAD
                                    option(value="CONNECT") CONNECT
                                    option(value="TRACE") TRACE
                                    option(value="OPTIONS") OPTIONS
                        .form-group
                            label(for="table-parameters") Parameters
                            table#table-parameters.table.table-bordered.table-striped.table-hover.table-condensed.text-center
                                thead
                                    tr
                                        th.operation-column Active
                                        th.key-column Key
                                        th.value-column Value
                                        th.description-column Description
                                tbody
                            .form-row
                                .form-group.col-md-2
                                    button#btn-add-row.btn.btn-success.form-control(type="button") Add row
                                .form-group.col-md-2
                                    button#btn-clear-table.btn.btn-danger.form-control(type="button") Clear table
                        .form-group
                            label(for="textarea-header") Header
                            textarea#textarea-header.form-control(cols="10", rows="5")
                        .form-group.row
                                label.col-sm-2.col-form-label(for="textbox-full-url") Full URL
                                input#textbox-full-url.form-control-plaintext.col-sm-10(type="text", readonly)
                        .form-group
                            label(for="textarea-response") Response
                            textarea#textarea-response.form-control(cols="10", rows="10", readonly)
                        .form-row
                            .form-group.col-md-2
                                button#btn-submit.form-control.btn.btn-primary(type="submit") Request
                            .form-group.col-md-2
                                button.form-control.btn.btn-light(type="button") Copy
        script(src="../js/index.js")